@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
  }

  ::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    background: #9ca3af;
}
 
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb:hover {
    background: #71717a;
}